openapi: "3.0.0"
info:
  version: 1.0.0
  title: Nexmo Audit API
  description: >
    Nexmo's Audit API allows you to view details of changes to your account.
  contact:
    name: Nexmo.com
    email: devrel@nexmo.com
    url: 'https://developer.nexmo.com/'
    x-twitter: Nexmo
  termsOfService: 'https://www.nexmo.com/terms-of-use'
  license:
    name: The MIT License (MIT)
    url: 'https://opensource.org/licenses/MIT'
  x-logo:
    url: 'https://twitter.com/Nexmo/profile_image?size=original'
  x-apiClientRegistration: 'https://dashboard.nexmo.com/sign-up'
servers:
  - url: https://api.nexmo.com
paths:
  '/beta/audit/events':
    get:
      summary: Retrieve audit events
      description: >
        Get a series of audit log events describing changes made to your
        Nexmo account over time.
      parameters:
        - name: event_type
          description: Filter results by this event type.
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/EventTypes'
      security:
        - basicAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditResp'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
  '/beta/audit/events/{id}':
    get:
      summary: Retrieve individual audit event
      description: >
        Get a series of audit log events describing changes made to your
        Nexmo account over time.
      parameters:
        - name: id
          description: The UUID of the event
          in: path
          required: true
          example: "aaaaaaaa-bbbb-cccc-dddd-0123456789ab"
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditEvent'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorIndividualNotFound'


components:
  schemas:
    EventTypes:
      type: string
      enum:
        - APP_CREATE
        - NUMBER_ASSIGN
        - NUMBER_LINKED
        - NUMBER_UNLINKED
        - NUMBER_UPDATED
      example: APP_CREATE
    AuditResp:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            events:
              type: array
              items:
                $ref: '#/components/schemas/AuditEvent'
        _links:
          type: object
          $ref: '#/components/schemas/PaginationLinks'
        page:
          type: object
          $ref: '#/components/schemas/PaginationData'
    AuditEvent:
      type: object
      properties:
        id:
          type: string
          description: "UUID of the event"
          example: "aaaaaaaa-bbbb-cccc-dddd-0123456789ab"
        event_type:
          $ref: '#/components/schemas/EventTypes'
        event_type_description:
          type: string
          description: "A description of the event type"
          example: "Application created"
        created_at:
          type: string
          format: date
        user_email:
          type: string
          format: email
          example: user@example.org
        user_id:
          type: integer
          example: 123456
        account_id:
          type: string
          example: "abcdef01"
        source:
          type: string
          description: >
            The source of the event.

            CD: Customer Dashboard
            DEVAPI: via Developer API
          enum:
            - CD
            - DEVAPI
          example: CD
        source_ip:
          type: string
          format: ipv4
          description: The IP address used to make the account change.
          example: "192.0.2.0"
        source_description:
          type: string
          format: A human readable description of the `source`.
          enum:
            - Customer dashboard
            - Developer API
          example: Customer dashboard
        source_country:
          type: string
          description: ISO country code recorded for the event.
          example: GB
        _links:
          $ref: '#/components/schemas/EventSelfLinkObject'
        context:
          oneOf:
            - $ref: '#/components/schemas/ContextAppCreate'
            - $ref: '#/components/schemas/ContextNumberLinking'
            - $ref: '#/components/schemas/ContextNumberUpdate'
          example:
            created:
              accountId: "abcdef01"
              appId: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
              name: My voice app
              answer_url:
                method: GET
                url: https://example.org/call
              type: voice
              event_url:
                method: POST
                url: https://example.org/event
    EventSelfLinkObject:
      type: object
      properties:
        self:
          type: object
          properties:
            href:
              type: string
              format: uri
              description: URI of this document.
              example: "https://api.nexmo.com/beta/audit/events/aaaaaaaa-bbbb-cccc-dddd-0123456789ab"
    PaginationLinks:
      type: object
      properties:
        self:
          type: object
          properties:
            href:
              type: string
              format: uri
              description: URI of this document.
              example: "http://api.nexmo.com/beta/audit/events"
        next:
          type: object
          properties:
            href:
              type: string
              format: uri
              description: URI of the next document.
              example: "http://api.nexmo.com/beta/audit/events?page=2&size=30"
        last:
          type: object
          properties:
            href:
              type: string
              format: uri
              description: URI of the last document in the sequence.
              example: "http://api.nexmo.com/beta/audit/events?page=2&size=30"
    PaginationData:
      type: object
      properties:
        size:
          type: integer
          example: 30
          description: The total number of items in this response.
        totalElements:
          type: integer
          example: 40
          description: The total number of items across all pages.
        totalPages:
          type: integer
          example: 2
          description: The number of pages of data in the response.
        number:
          type: integer
          example: 1
          description: Which page of the pagination sequence you are looking at.
    CallbackUrl:
      type: object
      properties:
        method:
          type: string
          example: GET
          enum:
            - GET
            - POST
          description: "The HTTP method used to make a callback to your application"
        url:
          type: string
          example: "https://example.org/my-app-callback"
          format: url
          description: "The URL used for a callback to your application"
    ContextAppCreate:
      type: object
      properties:
        created:
          type: object
          properties:
            accountId:
              type: string
              example: "abcdef01"
              description: "Which account the app is associated with"
            appId:
              type: string
              description: "UUID of the app that was created"
              example: "aaaaaaaa-bbbb-cccc-dddd-0123456789ab"
            name:
              type: string
              description: "The name of the application created"
              example: "My Voice App"
            answer_url:
              $ref: '#/components/schemas/CallbackUrl'
            event_url:
              $ref: '#/components/schemas/CallbackUrl'
            type:
              type: string
              example: "voice"
              description: "The type of application created"
    ContextNumberLinking:
      type: object
      properties:
        country:
          type: string
          description: "The country of the number"
          example: "GB"
        account:
          type: string
          description: "Which account the number is associated with"
          example: "abcdef01"
        msisdn:
          type: string
          description: "The phone number linked/unlinked to your application"
          example: "447000123456"
        applicationId:
          type: string
          description: "UUID of the app the number is being linked/unlinked to"
          example: "aaaaaaaa-bbbb-cccc-dddd-0123456789ab"
    ContextNumberUpdate:
      type: object
      properties:
        country:
          type: string
          description: "The country of the number"
        msisdn:
          type: string
          description: "The phone number linked/unlinked to your application"
          example: "447000123456"
        voice-type:
          type: string
          enum:
            - tel
            - sip
            - vxml
            - app
          example: "app"
          description: "The type of endpoint the number has been forwarded to"
        voice-value:
          type: string
          description: "The value of the endpoint the number has been forwarded to"
          example: "aaaaaaaa-bbbb-cccc-dddd-0123456789ab"
        http:
          type: string
          format: url
          description: "The URL of the endpoint the number has been forwarded to"
          example: "https://example.org/my-app-callback"
    ErrorUnauthorized:
      type: object
      properties:
        status:
          type: integer
          example: 401
          description: The HTTP Status code of the error
        error:
          type: string
          example: Unauthorized
          description: A human readable description of the error
        message:
          type: string
          example: "Full authentication is required. JWT was not found in \"Authorization\" HTTP header."
          description: A longer description of the error
    ErrorIndividualNotFound:
      type: object
      properties:
        status:
          type: integer
          example: 404
          description: The HTTP Status code of the error
        error:
          type: string
          example: "Not Found"
          description: A human readable description of the ErrorUnauthorized
        message:
          type: string
          example: "Event with provided id: aaaaaaaa-bbbb-cccc-dddd-0123456789ab was not found"
          description: A longer description of the error
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
